html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    background: #000;
}

@font-face { font-family: Menu; src: url('fonts/MenuFont.ttf'); }